        <title>{{title}}</title>
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>
    <link rel="icon" type="image/x-icon" href="https://www.icons101.com/icon_png/size_512/id_74396/olx.png" />
    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/styles/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/styles/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/styles/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/styles/jquery-ui.min.css" type="text/css">
    <link rel="stylesheet" href="/styles/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/styles/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/styles/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    {{!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> --}}
</head>
