<!DOCTYPE html>
<html lang="en">
    {{!-- Head --}}
    {{> head}}
    <body>
            {{> mobile}}
        <!-- Navigation-->
            {{> navbar}}
        {{!-- Body --}}
            {{{body}}}
        <!-- Footer-->
            {{> footer}}
        
    </body>
</html>